schema/shim20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.multicore-association.org/2017/SHIM2.0/" xmlns="http://www.multicore-association.org/2017/SHIM2.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Shim" type="Shim"/>
	<xs:simpleType name="CacheCoherencyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HARDWARE"/>
			<xs:enumeration value="SOFTWARE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CachePrefetchType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALWAYS"/>
			<xs:enumeration value="NEVER"/>
			<xs:enumeration value="ONCE"/>
			<xs:enumeration value="ONMISS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CacheReplacementType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIFO"/>
			<xs:enumeration value="LRU"/>
			<xs:enumeration value="RANDOM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CacheType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DATA"/>
			<xs:enumeration value="INSTRUCTION"/>
			<xs:enumeration value="UNIFIED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CacheWriteAllocateType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALWAYS"/>
			<xs:enumeration value="NEVER"/>
			<xs:enumeration value="NOFETCH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CacheWriteBackType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALWAYS"/>
			<xs:enumeration value="NEVER"/>
			<xs:enumeration value="NOFETCH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataRateUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="B/s"/>
			<xs:enumeration value="KiB/s"/>
			<xs:enumeration value="MiB/s"/>
			<xs:enumeration value="GiB/s"/>
			<xs:enumeration value="TiB/s"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EndianType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LITTLE"/>
			<xs:enumeration value="BIG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FrequencyUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Hz"/>
			<xs:enumeration value="KHz"/>
			<xs:enumeration value="MHz"/>
			<xs:enumeration value="GHz"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstructionInputType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INTEGER"/>
			<xs:enumeration value="FLOAT"/>
			<xs:enumeration value="POINTER"/>
			<xs:enumeration value="IMMEDIATE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstructionOutputType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INTEGER"/>
			<xs:enumeration value="FLOAT"/>
			<xs:enumeration value="POINTER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LockDownType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE"/>
			<xs:enumeration value="LINE"/>
			<xs:enumeration value="WAY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MasterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PU">
				<xs:annotation>
					<xs:documentation>Processing Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TU">
				<xs:annotation>
					<xs:documentation>Transfer Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperandAddressingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE"/>
			<xs:enumeration value="IMMEDIATE"/>
			<xs:enumeration value="REGISTER"/>
			<xs:enumeration value="BOTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TAS">
				<xs:annotation>
					<xs:documentation>Test and Set</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LLSC">
				<xs:annotation>
					<xs:documentation>Load Link/Store Conditional</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAX">
				<xs:annotation>
					<xs:documentation>Compare and Exchange</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORDERED"/>
			<xs:enumeration value="UNORDERED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PowerUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="pW"/>
			<xs:enumeration value="nW"/>
			<xs:enumeration value="uW"/>
			<xs:enumeration value="mW"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RWType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RW"/>
			<xs:enumeration value="WX"/>
			<xs:enumeration value="RX"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="X"/>
			<xs:enumeration value="RWX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SignednessType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SIGNED"/>
			<xs:enumeration value="UNSIGNED"/>
			<xs:enumeration value="BOTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SizeUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="B"/>
			<xs:enumeration value="KiB"/>
			<xs:enumeration value="MiB"/>
			<xs:enumeration value="GiB"/>
			<xs:enumeration value="TiB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThroughputUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="B/cycle"/>
			<xs:enumeration value="B/Kcycle"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VoltageUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="pV"/>
			<xs:enumeration value="nV"/>
			<xs:enumeration value="uV"/>
			<xs:enumeration value="mV"/>
			<xs:enumeration value="V"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AbstractCommunication" abstract="true">
		<xs:sequence>
			<xs:element name="ConnectionSet" type="ConnectionSet" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="AbstractComponent" abstract="true">
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="id" use="required" type="xs:ID"/>
		<xs:attribute name="voltageDomainRef" use="optional" type="xs:string"/>
		<xs:attribute name="frequencyDomainRef" use="optional" type="xs:string"/>
		<xs:attribute name="operatingPointRef" use="optional" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="AbstractInstruction" abstract="true">
		<xs:choice>
			<xs:element name="Performance" type="Performance" minOccurs="1" maxOccurs="1"/>
		</xs:choice>
		<xs:attribute name="name" use="optional" type="xs:string"/>
		<xs:attribute name="nInputs" use="optional" type="xs:nonNegativeInteger"/>
		<xs:attribute name="nOutputs" use="optional" type="xs:nonNegativeInteger"/>
		<xs:attribute name="SIMDWidth" use="optional" type="xs:nonNegativeInteger"/>
		<xs:attribute name="encodingLength" use="optional" type="xs:nonNegativeInteger"/>
	</xs:complexType>
	<xs:complexType name="AbstractPerformance" abstract="true">
		<xs:attribute name="best" use="optional" type="xs:float"/>
		<xs:attribute name="typical" use="required" type="xs:float"/>
		<xs:attribute name="worst" use="optional" type="xs:float"/>
	</xs:complexType>
	<xs:complexType name="Accessor">
		<xs:choice>
			<xs:element name="PerformanceSet" type="PerformanceSet" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="masterComponentRef" use="required" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="AccessType">
		<xs:sequence minOccurs="1"/>
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="id" use="required" type="xs:ID"/>
		<xs:attribute name="rwType" use="optional" type="RWType"/>
		<xs:attribute name="accessByteSize" use="optional" type="xs:nonNegativeInteger"/>
		<xs:attribute name="alignmentByteSize" use="optional" type="xs:nonNegativeInteger"/>
		<xs:attribute name="nBurst" use="optional" type="xs:nonNegativeInteger"/>
	</xs:complexType>
	<xs:complexType name="AccessTypeSet">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="AccessType" type="AccessType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressSpace">
		<xs:choice>
			<xs:element name="SubSpace" type="SubSpace" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="id" use="required" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="AddressSpaceSet">
		<xs:choice>
			<xs:element name="AddressSpace" type="AddressSpace" minOccurs="1" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Cache">
		<xs:complexContent>
			<xs:extension base="AbstractComponent">
				<xs:sequence>
					<xs:element name="CacheRef" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="cacheType" use="required" type="CacheType">
					<xs:annotation>
						<xs:documentation>soft / hard</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="cacheCoherency" use="required" type="CacheCoherencyType"/>
				<xs:attribute name="size" use="required" type="xs:nonNegativeInteger"/>
				<xs:attribute name="sizeUnit" use="required" type="SizeUnitType"/>
				<xs:attribute name="nWay" use="optional" default="1" type="xs:nonNegativeInteger"/>
				<xs:attribute name="lineSize" use="optional" default="16" type="xs:nonNegativeInteger"/>
				<xs:attribute name="lockDownType" use="optional" type="LockDownType"/>
				<xs:attribute name="prefetch" use="optional" type="CachePrefetchType"/>
				<xs:attribute name="replacement" use="optional" type="CacheReplacementType"/>
				<xs:attribute name="prefetchDistance" use="optional" type="xs:nonNegativeInteger"/>
				<xs:attribute name="writeAllocate" use="optional" type="CacheWriteAllocateType"/>
				<xs:attribute name="writeBack" use="optional" type="CacheWriteBackType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommonInstructionSet">
		<xs:choice>
			<xs:element name="FunctionalUnitSet" type="FunctionalUnitSet" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FunctionalUnitSetFile" type="FunctionalUnitSetFile" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CommunicationSet">
		<xs:choice>
			<xs:element name="SharedRegisterCommunication" type="SharedRegisterCommunication" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SharedMemoryCommunication" type="SharedMemoryCommunication" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EventCommunication" type="EventCommunication" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FIFOCommunication" type="FIFOCommunication" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InterruptCommunication" type="InterruptCommunication" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ComponentSet">
		<xs:complexContent>
			<xs:extension base="AbstractComponent">
				<xs:sequence>
					<xs:element name="ComponentSet" type="ComponentSet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="MasterComponent" type="MasterComponent" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SlaveComponent" type="SlaveComponent" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Cache" type="Cache" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Connection">
		<xs:choice>
			<xs:element name="Performance" type="Performance" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="from" use="required" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation>Reference to the instance of MasterComponent</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="to" use="required" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation>Reference to the instance of MasterComponent</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConnectionSet">
		<xs:choice>
			<xs:element name="Connection" type="Connection" minOccurs="1" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ContentionGroup">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="Throughput" type="Throughput"/>
				<xs:element name="DataRate" type="DataRate"/>
			</xs:choice>
			<xs:element name="PerformanceSetRef" type="xs:IDREF" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:ID"/>
		<xs:attribute name="name" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ContentionGroupSet">
		<xs:sequence>
			<xs:element name="ContentionGroup" type="ContentionGroup" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomInstruction">
		<xs:complexContent>
			<xs:extension base="AbstractInstruction">
				<xs:sequence>
					<xs:element name="InstructionInput" type="InstructionInput" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="InstructionOperation" type="InstructionOperation" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="InstructionOutput" type="InstructionOutput" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataRate">
		<xs:attribute name="value" use="required" type="xs:nonNegativeInteger"/>
		<xs:attribute name="unit" use="optional" type="DataRateUnitType"/>
	</xs:complexType>
	<xs:complexType name="EventCommunication">
		<xs:complexContent>
			<xs:extension base="AbstractCommunication">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FIFOCommunication">
		<xs:complexContent>
			<xs:extension base="AbstractCommunication">
				<xs:attribute name="dataSize" use="required" type="xs:nonNegativeInteger"/>
				<xs:attribute name="dataSizeUnit" use="optional" type="SizeUnitType"/>
				<xs:attribute name="queueSize" use="required" type="xs:nonNegativeInteger"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FrequencyDomain">
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="id" use="required" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="FrequencyVoltageSet">
		<xs:sequence>
			<xs:element name="FrequencyDomain" type="FrequencyDomain" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="VoltageDomain" type="VoltageDomain" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OperatingPointSet" type="OperatingPointSet" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FunctionalUnit">
		<xs:sequence>
			<xs:element name="Instruction" type="Instruction" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CustomInstruction" type="CustomInstruction" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="FunctionalUnitSet">
		<xs:choice>
			<xs:element name="FunctionalUnit" type="FunctionalUnit" minOccurs="1" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FunctionalUnitSetFile">
		<xs:attribute name="src" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Instruction">
		<xs:complexContent>
			<xs:extension base="AbstractInstruction">
				<xs:attribute name="operation" use="required" type="xs:string"/>
				<xs:attribute name="inputBitWidth" use="required" type="xs:nonNegativeInteger"/>
				<xs:attribute name="outputBitWidth" use="required" type="xs:nonNegativeInteger"/>
				<xs:attribute name="supportedSignedness" use="optional" type="SignednessType"/>
				<xs:attribute name="operandAddressing" use="optional" type="OperandAddressingType"/>
				<xs:attribute name="immediateBitWidth" use="optional" type="xs:nonNegativeInteger"/>
				<xs:attribute name="isEmulated" use="optional" type="xs:boolean"/>
				<xs:attribute name="inputPreserved" use="optional" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InstructionInput">
		<xs:attribute name="id" use="required" type="xs:ID"/>
		<xs:attribute name="bitWidth" use="required" type="xs:nonNegativeInteger"/>
		<xs:attribute name="type" use="required" type="InstructionInputType"/>
		<xs:attribute name="value" use="optional" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="InstructionOperation">
		<xs:sequence>
			<xs:element name="InstructionOperand" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="operation" use="optional" type="xs:string"/>
		<xs:attribute name="id" use="optional" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="InstructionOutput">
		<xs:attribute name="bitWidth" use="optional" type="xs:nonNegativeInteger"/>
		<xs:attribute name="type" use="optional" type="InstructionOutputType"/>
		<xs:attribute name="ref" use="optional" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="InterruptCommunication">
		<xs:complexContent>
			<xs:extension base="AbstractCommunication">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Latency">
		<xs:complexContent>
			<xs:extension base="AbstractPerformance">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MasterComponent">
		<xs:complexContent>
			<xs:extension base="AbstractComponent">
				<xs:sequence>
					<xs:element name="CommonInstructionSet" type="CommonInstructionSet" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CacheRef" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="AccessTypeSet" type="AccessTypeSet" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="masterType" use="required" type="MasterType"/>
				<xs:attribute name="arch" use="required" type="xs:string"/>
				<xs:attribute name="archOption" use="optional" type="xs:string"/>
				<xs:attribute name="nChannel" use="optional" type="xs:nonNegativeInteger"/>
				<xs:attribute name="pid" use="optional" type="xs:string"/>
				<xs:attribute name="endian" use="optional" default="LITTLE" type="EndianType"/>
				<xs:attribute name="nThread" use="optional" type="xs:nonNegativeInteger"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MasterSlaveBinding">
		<xs:choice>
			<xs:element name="Accessor" type="Accessor" minOccurs="1" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="slaveComponentRef" use="required" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="MasterSlaveBindingSet">
		<xs:choice>
			<xs:element name="MasterSlaveBinding" type="MasterSlaveBinding" minOccurs="1" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MemoryConsistencyModel">
		<xs:attribute name="rawOrdering" use="optional" type="OrderingType">
			<xs:annotation>
				<xs:documentation>Read After Write</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="warOrdering" use="optional" type="OrderingType">
			<xs:annotation>
				<xs:documentation>Write After Read</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="wawOrdering" use="optional" type="OrderingType">
			<xs:annotation>
				<xs:documentation>Write After Write</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rarOrdering" use="optional" type="OrderingType"/>
	</xs:complexType>
	<xs:complexType name="OperatingPoint">
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="id" use="optional" type="xs:ID"/>
		<xs:attribute name="frequency" use="required" type="xs:nonNegativeInteger"/>
		<xs:attribute name="frequencyUnit" use="optional" type="FrequencyUnitType"/>
		<xs:attribute name="voltage" use="optional" type="xs:nonNegativeInteger"/>
		<xs:attribute name="voltageUnit" use="optional" type="VoltageUnitType"/>
	</xs:complexType>
	<xs:complexType name="OperatingPointSet">
		<xs:choice>
			<xs:element name="OperatingPoint" type="OperatingPoint" minOccurs="1" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="id" use="required" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="Performance">
		<xs:sequence>
			<xs:element name="Pitch" type="Pitch" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Latency" type="Latency" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="accessTypeRef" use="optional" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="PerformanceSet">
		<xs:choice>
			<xs:element name="Performance" type="Performance" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="id" use="optional" type="xs:ID"/>
		<xs:attribute name="cacheRef" use="optional" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="Pitch">
		<xs:complexContent>
			<xs:extension base="AbstractPerformance">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PowerConfiguration">
		<xs:sequence>
			<xs:element name="PowerConsumptionSet" type="PowerConsumptionSet" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="systemConfigurationSrc" use="optional" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="PowerConfigurationFile">
		<xs:attribute name="id" use="optional" type="xs:ID"/>
		<xs:attribute name="name" use="optional" type="xs:string"/>
		<xs:attribute name="src" use="optional" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="PowerConsumption">
		<xs:attribute name="operatingPointRef" use="required" type="xs:string"/>
		<xs:attribute name="power" use="optional" type="xs:nonNegativeInteger"/>
		<xs:attribute name="powerUnit" use="optional" type="PowerUnitType"/>
	</xs:complexType>
	<xs:complexType name="PowerConsumptionSet">
		<xs:sequence>
			<xs:element name="PowerConsumerRef" type="xs:string" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to ComponentSet, SlaveComponent, MasterComponent, Cache, or FunctionalUnit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowerConsumption" type="PowerConsumption" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" use="optional" type="xs:ID"/>
		<xs:attribute name="name" use="optional" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SharedMemoryCommunication">
		<xs:complexContent>
			<xs:extension base="AbstractCommunication">
				<xs:attribute name="operationType" use="optional" type="OperationType"/>
				<xs:attribute name="dataSize" use="optional" type="xs:nonNegativeInteger"/>
				<xs:attribute name="dataSizeUnit" use="optional" type="SizeUnitType"/>
				<xs:attribute name="addressSpaceRef" use="optional" type="xs:IDREF"/>
				<xs:attribute name="subSpaceRef" use="optional" type="xs:IDREF"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SharedRegisterCommunication">
		<xs:complexContent>
			<xs:extension base="AbstractCommunication">
				<xs:attribute name="dataSize" use="required" type="xs:nonNegativeInteger"/>
				<xs:attribute name="dataSizeUnit" use="required" type="SizeUnitType"/>
				<xs:attribute name="nRegister" use="required" type="xs:nonNegativeInteger"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Shim">
		<xs:choice>
			<xs:element name="SystemConfiguration" type="SystemConfiguration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PowerConfiguration" type="PowerConfiguration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VendorExtension" type="VendorExtension" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FunctionalUnitSet" type="FunctionalUnitSet" minOccurs="1" maxOccurs="1"/>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="shimVersion" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SlaveComponent">
		<xs:annotation>
			<xs:documentation>Memory</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractComponent">
				<xs:attribute name="size" use="required" type="xs:nonNegativeInteger"/>
				<xs:attribute name="sizeUnit" use="required" type="SizeUnitType"/>
				<xs:attribute name="rwType" use="required" type="RWType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubSpace">
		<xs:sequence>
			<xs:element name="MemoryConsistencyModel" type="MemoryConsistencyModel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MasterSlaveBindingSet" type="MasterSlaveBindingSet" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="id" use="required" type="xs:ID"/>
		<xs:attribute name="start" use="required" type="xs:long"/>
		<xs:attribute name="end" use="required" type="xs:long"/>
		<xs:attribute name="endian" use="optional" type="EndianType"/>
	</xs:complexType>
	<xs:complexType name="SystemConfiguration">
		<xs:sequence>
			<xs:element name="ComponentSet" type="ComponentSet" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CommunicationSet" type="CommunicationSet" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddressSpaceSet" type="AddressSpaceSet" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrequencyVoltageSet" type="FrequencyVoltageSet" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ContentionGroupSet" type="ContentionGroupSet" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemConfigurationFile">
		<xs:attribute name="id" use="optional" type="xs:ID"/>
		<xs:attribute name="name" use="optional" type="xs:string"/>
		<xs:attribute name="src" use="optional" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Throughput">
		<xs:attribute name="value" use="required" type="xs:nonNegativeInteger"/>
		<xs:attribute name="unit" use="optional" type="ThroughputUnitType"/>
		<xs:attribute name="frequencyDomainRef" use="required" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="VendorExtension">
		<xs:sequence>
			<xs:element name="SystemConfigurationFile" type="SystemConfigurationFile" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PowerConfigurationFile" type="PowerConfigurationFile" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VoltageDomain">
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="id" use="required" type="xs:ID"/>
	</xs:complexType>
</xs:schema>
